@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
  --primary-color: #333;
  --secondary-color: #828282;
  --body-bg-color: #f5f2f0;
  --heading: 'Merriweather', serif;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-color);
  background-color: var(--body-bg-color);
  position: relative;
  overflow-y: hidden;
}

header {
  padding: 45px 70px;
  height: 100vh;
}

.logo {
  display: block;
  width: 100px;
}

nav,
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav hr {
  width: 25vw;
  height: 1.6px;
  border: 0;
  background: #333;
  margin-left: 380px;
}

.list .list-item {
  list-style-type: none;
  margin: 15px 0 15px 80px;
  cursor: pointer;
}

.list .list-item:first-child {
  margin-left: 0;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 100vh;
  z-index: -1;
}

.upper-section {
  float: right;
  width: 60vw;
}

.headings {
  margin-left: 20px;
}

.heading-1 {
  font-family: var(--heading);
  font-size: 128px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--black);
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
}

.heading-2 {
  font-family: var(--heading);
  font-size: 128px;
  color: var(--primary-color);
  margin-left: 170px;
  margin-top: -40px;
  font-weight: 900;
}

.heading-para p {
  color: var(--secondary-color);
  font-size: 32px;
  float: right;
  margin-top: -118px;
  margin-right: 160px;
}

.icons {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  margin-top: -240px;
}

.upper-section button {
  float: right;
  color: #fff;
  background-color: var(--primary-color);
  padding: 22px 60px;
  font-size: 18px;
}

.bottom-section {
  width: 60vw;
  float: right;
}

.container {
  display: flex;
  justify-content: space-around;
}

.line {
  width: 2px;
  height: 212px;
  background-color: var(--secondary-color);
  position: absolute;
  right: 61.2%;
  bottom: 8%;
  z-index: -1;
}

.work {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  text-align: left;
}

.work-list {
  display: flex;
  font-size: 1rem;
  width: 10vw;
  height: 50px;
  align-items: center;
  margin-left: -85px;
  color: var(--secondary-color);
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-color: var(--secondary-color);
}

.dance-image {
  width: 400px;
}

.wrapper p {
  margin: 15px 0;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 17px;
}

.work-desc {
  position: relative;
}

.down-arrow {
  position: absolute;
  right: -28%;
  bottom: 120px;
  width: 30px;
  opacity: 0.5;
}

.act {
  background-color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}
